<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
<style type="text/css">
    * {
        font-family: 'Poor Story', cursive;
    }

    .navbar {
        box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, .5);
        background: white;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 20vw !important;
    }

    #searchBar {
        height: 6vh;
        width: 30vw;

    }

    .input-group {
        text-align: center;
    }

    .button_title {
        margin: auto;
    }

    .button_group {
        width: 30vw
    }
</style>

<nav class="navbar navbar-expand-lg">
    <a href="/">
        <img class='logo' src="https://i.imgur.com/Yf18JJE.png">
    </a>
    <form action="/" class='input-group'>
        <input type="text" class="bg-light border-0 small" id="searchBar" placeholder=" 검색하세요" aria-label="Search"
            aria-describedby="basic-addon2" name=q>
    </form>
    <span class='button_group'>
        {% if user %}
        <a href="/register" class="button_title">물건 등록</a>
        <a href="/logout" class="button_title">로그아웃</a>
        <a href="/mypage/{{user['user_id']}}" class="button_title">마이페이지</a>
        {% else %}
        <a href="/login" class="button_title">로그인</a>
        <a href="/join" class="button_title">회원가입</a>

        {% endif %}
    </span>
</nav>