<div id="register-button-box" class="form-post p-3 mt-5" style="display: none;" >
  <div style="display: flex; justify-content: space-around;">
    <div
      onclick="shareToggle('btn-share', 'btn-need', 'register-button-box')"
      id="btn-share"
      type="button"
      class="btn btn-danger"
      style="margin-right: 10px;">
      🙏주세요🙏
    </div>
    <div
      onclick="shareToggle('btn-need', 'btn-share', 'register-button-box')"
      id="btn-need"
      type="button"
      class="btn btn-success">
      🤞여기요🤞
    </div>
  </div>
</div>