{% extends 'layout.html' %}
{% block content %}
<div id="modal-container"></div>
<div id="register-button-box" class="form-post p-3 mt-5" style="display: none;">
  <div style="display: flex; justify-content: space-around;">
    <div onclick="shareToggle('btn-share', 'btn-need', 'register-button-box', true)" id="btn-share" type="button"
      class="btn btn-danger" style="margin-right: 10px;">
      🙏주세요🙏
    </div>
    <div onclick="shareToggle('btn-need', 'btn-share', 'register-button-box', true)" id="btn-need" type="button"
      class="btn btn-success">
      🤞여기요🤞
    </div>
  </div>
</div>
<input type="text" id="shareOrNeed" style="display: none">
<div id="cards-box" style="width: 70%; margin: 0px auto;">
  <div class="card">
    item
  </div>
</div>
<script>
  $(document).ready(function () {
    console.log("do")
    shareToggle('btn-need', 'btn-share', 'register-button-box', true);
  })
</script>
{% endblock %}