{% extends 'layout.html' %}
{% block content %}
<div id="modal-container"></div>
<div id="register-button-box" class="form-post p-3 mt-5" style="display: none;">
  <div style="width: 360px; margin: 0px auto;">
    <div onclick="shareToggle('btn-share', 'btn-need', 'register-button-box', true)" id="btn-share" type="button"
      class="btn btn-danger" style="margin-right: 150px;">
      🙏주세요🙏
    </div>
    <div onclick="shareToggle('btn-need', 'btn-share', 'register-button-box', true)" id="btn-need" type="button"
      class="btn btn-success">
      🤞여기요🤞
    </div>
  </div>
</div>
<input type="text" id="shareOrNeed" style="display: none">
{%  if q %}
<div style="width: 70%; margin: 0px auto; text-align: center;">검색: {{q}}</div>
{% endif %}
<div id="animation-container" class="mx-auto pt-5" style="width: 140px; display:none">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <h6 class="mt-4 text-center" style="font-weight: 900; color: #ff6c4c">검색중...</h6>
</div>
<div id="cards-box" style="width: 70%; margin: 0px auto;">
  <div class="card">
    item
  </div>
</div>
<script>
  $(document).ready(function () {
    console.log("do")
    shareToggle('btn-need', 'btn-share', 'register-button-box', true);
  })
</script>
{% endblock %}